* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 11pt;
  min-height: 0;
}

@import "theme.css";

/* === Main Background === */

window#waybar {
  background: @main-bg;
}

/* === Drop Shadow === */

window#waybar > box {
  background-color: transparent;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  margin: 2px;
}

/* === Tooltip === */

tooltip {
  color: @main-fg;
  background: @main-bg;
  border: solid;
  border-width: 1.5px;
  border-radius: 7px;
  border-color: @main-br;
}

/* === Workspace Buttons === */

#workspaces button {
  color: @module-fg;
  border-radius: 8px;
  box-shadow: none;
  margin: 2px 0;
  padding: 0 2px;
  transition: none;
  margin: 6px 2px;
  padding-left: 6px;
  padding-right: 5px;
}
#workspaces button:hover {
  color: @hover-fg;
  background: @hover-bg;
  text-shadow: none;
  box-shadow: none;
}
#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

/* === General === */

#custom-ws,
#workspaces,
#window,
#temperature,
#memory,
#cpu,
#clock,
#custom-wifi,
#bluetooth,
#language,
#custom-update,
#custom-media,
#pulseaudio,
#custom-backlight,
#battery,
#network,
#custom-power {
  opacity: 1;
  color: @module-fg;
  margin-bottom: 0;
  padding: 0 4px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8,
#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5,
#custom-rightin1,
#custom-leftin1,
#custom-leftin2 {
  font-size: 20pt;
}
#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8 {
  text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
  text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
}

#custom-rightin1,
#custom-leftin1,
#custom-leftin2 {
  font-size: 20.5pt;
  margin-bottom: -1px;
}

/* === Modules === */

/* == Window Icon == */

#custom-ws {
  background: @main-bg;
}

/* == Workspaces == */

#custom-left1 {
  color: @workspaces;
  background: @main-bg;
  padding-left: 2px;
}
#workspaces {
  background: @around1;
}
#custom-right1 {
  color: @around1;
  background: @main-bg;
  text-shadow: 3px 0 2px rgba(0, 0, 0, 0.4);
}

/* == Temperature == */

#custom-paddc {
  padding-right: 22px;
}
#custom-left2 {
  color: @around1;
  background: @main-bg;
  border-radius: 10px;
  padding-left: 3px;
  margin-bottom: -1px;
}
#temperature {
  background: @around1;
  padding-left: 12px;
  padding-right: 0;
}

/* == Memory == */

#custom-left3 {
  color: @around2;
  background: @around1;
  padding-left: 12px;
}
#memory {
  background: @around2;
  padding-left: 1px;
  padding-right: 0;
}
#memory.warning {
  color: @warning;
}
#memory.critical {
  color: @critical;
}

/* == CPU == */

#custom-left4 {
  color: @around3;
  background: @around2;
  padding-left: 3px;
}
#cpu {
  background: @around3;
  padding: 0 6px;
}
#custom-leftin1 {
  color: @around3;
}

/* == Distro Icon == */

#custom-left5 {
  color: @distro-bg;
  background: @main-bg;
  text-shadow: -2px 0 2px rgba(0, 0, 0, 0.6);
}
#idle_inhibitor {
  color: @distro-fg;
  background: @distro-bg;
  font-size: 18pt;
  margin-right: -4px;
  padding-right: 0;
  padding-left: 3px;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 1);
}
#custom-right2 {
  color: @distro-bg;
  background: @main-bg;
}

/* == Time == */

#custom-rightin1 {
  color: @around3;
}
#clock.time {
  background: @around3;
}
#custom-right3 {
  color: @around3;
  background: @around2;
}

/* == Date == */

#clock.date {
  background: @around2;
}
#clock.date:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}
#custom-right4 {
  color: @around2;
  background: @around1;
}

/* == Tray == */

#custom-wifi {
  padding-left: 5px;
  padding-right: 8px;
  background: @around1;
}
#custom-wifi:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

#bluetooth,
#language {
  padding: 0 7px;
  background: @around1;
}
#bluetooth:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

#custom-update {
  padding-right: 8px;
  background: @around1;
}
#custom-update:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}
#custom-right5 {
  color: @around1;
  background: @main-bg;
}

/* == Media Info == */

#custom-media {
  background-color: @main-bg;
  padding-right: 8px;
  padding-left: 8px;
}
#custom-media:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

#network {
  font-size: 10pt;
  margin: 0px 6px;
}
/* == Output Device == */

#custom-left6 {
  color: @around1;
  background: @main-bg;
  padding-left: 3px;
}
#pulseaudio {
  background: @around1;
}
#pulseaudio:hover {
  color: @hover-fg;
  text-shadow: none;
  box-shadow: none;
}

/* == Brightness == */

#custom-left7 {
  color: @backlight;
  background: @pulseaudio;
  padding-left: 2px;
}
#custom-backlight {
  background: @backlight;
}

/* == Battery == */

#custom-left8 {
  color: @battery;
  background: @backlight;
  padding-left: 2px;
}
#battery {
  background: @battery;
}
#battery.full {
  color: @full;
}
#battery.good {
  color: @module-fg;
}
#battery.warning {
  color: @warning;
}
#battery.critical {
  color: @critical;
}
#battery.charging {
  color: @charging;
}

/* == Power Button == */

#custom-leftin2 {
  color: @around3;
  background: @main-bg;
}
#custom-power {
  color: @main-bg;
  background: @power;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.6);
  margin: 2px 5px;
  border-radius: 50%;
  padding-right: 5px;
  padding-left: 10px;
}
#custom-power:hover {
  color: @hover-fg;
  background: @hover-bg;
  text-shadow: none;
  box-shadow: none;
}
